In [68]:
message='hello there. My name is Sinan'.split()
print(message[2])

my_list=[1,2,3]
print(my_list)
print(len(my_list))

My
[1, 2, 3]
3

In [69]:
userA=['ahmet',30] 
userB=['mehmet',40]

users=userA+userB
print(users)

users=[userA, userB]
print(users)
print(users[1])
print(users[1][0])

['ahmet', 30, 'mehmet', 40]
[['ahmet', 30], ['mehmet', 40]]
['mehmet', 40]
mehmet

In [70]:
""" 1- "Bmw, Mercedes, Opel, Mazda" elemanlarına sahip bir liste oluşturunuz.
    2- Liste Kaç elemanlıdır ?
    3- Listenin ilk ve son elemanı nedir ?
    4- Mazda değerini Toyota ile değiştirin.
    5- Mercedes listenin bir elemanı mıdır ?
    6- Listenin -2 indeksindeki değer nedir ?
    7- Listenin ilk 3 elemanını alın.
    8- Listenin son 2 elemanı yerine "Totoya" ve "Renault" değerlerini ekleyin.
    9- Listenin üzerine "Audi" ve "Nissan" değerlerini ekleyin.
    10- Listenin son elemanını silin.
    11- Liste elemanlarını tersten yazdırınız.
    12- Aşağıdaki verileri bir liste içinde saklayınız.
    # studentA: Yiğit Bilgi 2010, (70,60,70)
    # öğrenciB: Sena Turan 1999, (80,80,70)
    # studentC: Ahmet Turan 1998, (80,70,90)"""

markalar=['Bmw', 'Mercedes', 'Opel', 'Mazda']
print(len(markalar),'eleman var')
result=len(markalar)
print(result)

print(markalar[0])
print(markalar[-1])

markalar[-1]='toyota'
print(markalar)

'Mercedes' in markalar

markalar[-2]

markalar[0:3]

markalar[-2:]=['subaru','mitsu']
markalar
result=markalar+['WV', 'lexus']
result
del result[-1]
result
result[::-1]

studentA=['yigit','bilgi',2010,[50,60,70]]
studentB=['Sena','Turan',1999,[80,80,70]]
studentC=['Ahmet','Turan',1998,[80,70,90]]

result=f"{studentA[0]},{studentA[1]},{studentA[2]},'puani ',{((studentA[3][0]+studentA[3][1]+studentC[3][2])/len(studentA[3])):.2f}"
result

4 eleman var
4
Bmw
Mazda
['Bmw', 'Mercedes', 'Opel', 'toyota']

"yigit,bilgi,2010,'puani ',66.67"